@import url(../style/style.css);

ol {
    padding-inline: 0.5em;
}
  
#healthy {
    color: #fff;
    text-decoration: underline;
}

.article-container p {
    border-bottom: 1px solid #aaa;
    padding-block-end: 0.5em;
    padding-inline-end: 1em;
}

.list-container img {
    block-size: 250px;
    border-radius: 50%;
    cursor: zoom-in;
    inline-size: 100%;
    padding: 1em;
}


@media screen and (min-width: 768px) {

    .list-container {
        columns: 2;
    }
    
    .list-container img { 
        block-size: 300px;
        inline-size: 300px;
    }

    .list-container li:nth-child(3) {
        break-inside: avoid-column;
        padding-block-start: 0.1em;
    }
    
}